.navbar-burger.navbar-transparent .navbar-toggle .icon-bar {
    background: #888;
}

.navbar-transparent .navbar-nav>li>a:not(.btn),
[class*="navbar-ct"] .navbar-nav>li>a:not(.btn) {
    color: #343434;
}

body {
    margin-top: 4.7em;
}

.main {
    padding-bottom: 2em;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    /* border: solid; */
    color: #fff;
    /* background: #27958b; */
    padding: 10px 60px 10px 60px;
    font-size: 2.5em;
    font-family: 'Slim-Joe';
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    /* float: left; */
}

h4 {
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.navbar-transparent {
    background-color: white;
}

#tv {
    margin-bottom: 2em;
    margin-right: 1em;
    position: relative;
    /* width: 200px; */
    /* height: 100px; */
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: white;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
}

#tv:hover {
    border-radius: 50% 50% 50% 50% / 5% 5% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

@media only screen and (min-width: 1025px) {
    .mob {
        height: 380px !important;
        width: 100%;
    }
}


/* .thumbnail img {
    height: 250px !important;
} */


/* img {
    width: 224px;
} */

@media only screen and (min-width:768px) {
    .left {
        margin-left: 2.4em;
    }
    .left1 {
        margin-left: 2.8em;
    }
    .center {
        display: flex;
    }
    /* .center1 {
        display: flex;
        margin: 0 auto;
    } */
}